table {
    width: 100%;
}

.logo {
  width: 32px;
}

.mat-column-position, .mat-column-wins, .mat-column-lose, .mat-column-draw {
  width: 16px;
  padding-right: 24px;
  text-align: center;
}

.mat-column-logo, .mat-column-difference {
  width: 32px;
  padding-right: 24px;
  text-align: center;
}

.mat-column-name {
  width: 256px;
  font-size: 20px;
  padding-right: 24px;
}

.mat-column-games, .mat-column-points {
  width: 32px;
  padding-right: 24px;
  font-size: 20px;
  text-align: center;
}


