:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    flex-direction: column;
    align-items: center;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

.logo {
  width: 32px;
}

button {
  margin: 10px;
}

.mat-column-logoHome, .mat-column-logoAway {
  width: 32px;
  padding-right: 24px;
  text-align: center;
}

.mat-column-nameHome, .mat-column-nameAway {
  width: 256px;
  font-size: 20px;
  padding-right: 24px;
  text-align: center;
}

.mat-column-goalsHome, .mat-column-dash, .mat-column-goalsAway {
  width: 32px;
  padding-right: 24px;
  font-size: 20px;
  text-align: center;
}